<%= simple_form_for @genre do |f| %>
  <%= f.input :name %>
  <ul class="list-inline text-right">
    <li class="list-inline-item"><%= link_to 'Cancel', 'javascript:history.back()', class: 'mr-2' %></li>
    <li class="list-inline-item"><%= f.submit class: 'btn btn-primary' %></li>
  </ul>
<% end %>
