<div class="row">
  <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
    <% if params[:story_id] %>
      <%= render 'stories/nav', story: @resource, page_title: 'New note' %>
    <% else %>
      <%= render 'characters/nav', character: @resource, page_title: 'New note' %>
    <% end %>
    <h2>New note</h2>
    <%= render 'form' %>
  </div>
</div>
