<div class="row">
  <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
    <%= render 'stories/nav', story: @story, page_title: 'Edit scene' %>
    <h2>Edit scene</h2>
    <%= render 'form' %>
  </div>
</div>
