<div class="row">
  <div class="col mb-3">
    <h3>Characters</h3>
  </div>
</div>

<ul class="list-group">
  <% story_roles.each do |role| %>
    <li class="list-group-item">
      <%= link_to role.character, role.character %>
    </li>
  <% end %>
</ul>
