<div class="row">
  <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
    <%= render 'stories/nav', story: false, page_title: 'New story' %>
    <h2>New story</h2>
    <%= render 'form' %>
  </div>
</div>
