<div class="row">
  <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
    <%= render 'characters/nav', page_title: 'Edit character', character: @character %>
    <h2>Edit character</h2>
    <%= render 'form' %>
  </div>
</div>
