a.card-inverse:hover {
  color: #FFFFFF;
}

.card_red {
  background-color: #F44336;
}

.card_pink {
  background-color: #E91E63;
}

.card_purple {
  background-color: #9C27B0;
}

.card_deep-purple {
  background-color: #673AB7;
}

.card_indigo {
  background-color: #3F51B5;
}

.card_blue {
  background-color: #2196F3;
}

.card_light-blue {
  background-color: #03A9F4;  
}

.card_cyan {
  background-color: #00BCD4;
}

.card_teal {
  background-color: #009688;
}

.card_green {
  background-color: #4CAF50;
}

.card_light-green {
  background-color: #8BC34A;
}

.card_lime {
  background-color: #CDDC39;
}

.card_yellow {
  background-color: #FFEB3B;
}

.card_amber {
  background-color: #FFC107;
}

.card_orange {
  background-color: #FF9800;
}

.card_deep-orange {
  background-color: #FF5722;
}
